body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #0f172a;
  text-align: center;
}

header {
  padding: 40px;
  background: #ecfdf5;
}

h1 {
  font-size: 2.5rem;
  color: #16a34a;
}

p {
  max-width: 600px;
  margin: auto;
  color: #374151;
}

.btn {
  margin: 20px;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #22c55e;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.section {
  padding: 40px 20px;
}

.card {
  background: #f0fdf4;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  max-width: 300px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #ffffff;
  border-bottom: 1px solid #e5e7eb;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #16a34a;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #0f172a;
  font-weight: 500;
}

.nav-links a:hover {
  color: #22c55e;
}

.auth-buttons button {
  margin-left: 10px;
  padding: 8px 15px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.login {
  background: transparent;
  border: 1px solid #22c55e;
  color: #22c55e;
}

.signup {
  background: #22c55e;
  color: white;
}